h1 {
    color: rgb(21, 73, 73);
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-size: 400%;
    margin: 0%;
}

h2 {
    color: rgb(181, 206, 216);
    color: rgb(21, 73, 73);
    color: rgb(169, 70, 37);
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin: 0%;
}

h3 {
    color: rgb(223, 76, 27);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    margin: 3% 0% 0% 0%;
    border: 0px 0px 0px 4px;
    border-color: rgb(15, 45, 45);
    border-style: none none solid none;
}

h4 {
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    border: 1px;
    border-color: white;
    border-style: solid;
    margin-top: 2%;
    margin-bottom: 0%;
}

p,
li {
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    margin: 0%;
}

header {
    background-color: rgb(143, 182, 182);
    padding: 20px 0px 15px 15px;
    border-width: 4px 0px 4px;
    border-color: rgb(15, 45, 45);
    border-style: solid;
    margin: 2.5% 0% 0% 0%;
}

body {
    background-color: white;
    padding: 20px 0px 15px 15px;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    margin: 0% 20% 5% 20%;
}

.scientific-name {
    font-style: italic;
}

footer {
    text-align: center;
    border-width: 4px 0px;
    border-color: rgb(15, 45, 45);
    border-style: solid;
    margin-top: 6%;
    padding: 3% 3%;
}