@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* como importó esta fuente? */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Monserrat', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7em;
}

a {
  text-decoration: none;
}

/* Utility clases */
.container {
  margin: auto;
  /* que hace margin auto?*/
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
  /* que hace esto?*/
}

.large {
  font-size: 30px;
}

.display-1 {
  font-size: 4rem;
}

.btn {
  display: inline-block;
  font-size: 15px;
  padding: 12px 23px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-red {
  background: #E0333C;
  border: none;
  color: #fff;
}

.btn-outline {
  border: 1px solid #E0333C;
  color: #E0333C;
}

.btn-white {
  background: #fff;
  border: none;
  color: #E0333C;
}

.txt-red {
  color: #E0333C;
}

/* main header */
#mainheader {
  background: url('../img/showcase.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/* navbar*/
#navbar {
  color: #fff;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar a {
  color: #fff;
}

#navbar .logo {
  float: left;
  padding-top: 16px;
  font-size: 25px;
  text-transform: uppercase;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

/* showcase */
#showcase {
  text-align: center;
  padding: 200px 0;
  color: #fff;
}

/* events */

#events {
  padding: 80px 0;
}

#events h2 {
  text-align: center;
  padding-bottom: 60px;
}

#events .events-box {
  display: flex;
}

#events .ebox {
  border: 1px solid #E0333C;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  padding: 50px 20px;
}

/* about */

#about {
  background: #E0333C;
  color: #fff;
  padding: 80px 0;
}

#about h2 {
  padding-bottom: 20px;
}

/* speakers */
#speakers {
  padding: 80px 0;
}

#speakers h2 {
  text-align: center;
  padding-bottom: 60px;
}

#speakers .speakers-box {
  display: flex;
}

#speakers .speakers-box img {
  width: 100%;
}

#speakers .sbox {
  margin: 10px;
  text-align: center;
}

#speakers h4 {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* tickets */

#tickets {
  padding: 80px 0;
  background: #E0333C;
  color: #fff;
  text-align: center;
}

#tickets p {
  padding-top: 20px;
  padding-bottom: 30px;
}